
<div class="jumbotron mt-4">
    <h2>
        <img src="~/images/ybq-xs.png" alt="" />
        <span>Youbiquitous</span>
    </h2>
    <h6 class="text-uppercase">standard minimalistic template</h6>
</div>

@*<a class="btn btn-primary btn-lg" href="@Url.Action("Throw", "Sample")" role="button">Throw</a>
<a class="btn btn-primary btn-lg" href="@Url.Action("Download", "Sample")" role="button">Async</a>
<a class="btn btn-primary btn-lg" href="@Url.Action("Form", "Sample")" role="button">Form</a>
<a class="btn btn-primary btn-lg" href="@Url.Action("LargeForm", "Sample")" role="button">Large Form</a>
<a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Admin")" role="button">Private Area</a>*@